<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
   <system.webServer>
    <rewrite>
      <rules>
          <!--START REDIRECT TO HTTPS-->
           <rule name="Redirect to https" stopProcessing="true">
                <match url=".*" />
                <conditions>
                    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
            </rule>
            <!--END REDIRECT TO HTTPS-->

            <!--START REDIRECT TO ROOT-->
            <rule name="ReactJS" stopProcessing="true">
              <match url=".*" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="/" />
            </rule>
           <!--END REDIRECT TO ROOT-->

         </rules>
      </rewrite>
	  <httpProtocol>
		<customHeaders>
		  <add name="Content-Security-Policy" value="default-src 'self' data: www.youtube.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' cdn.datatables.net cdnjs.cloudflare.com gc.kis.v2.scr.kaspersky-labs.com www.youtube.com; style-src 'self' 'unsafe-inline' tagmanager.google.com;connect-src 'self' *.google.com google.com google.com.vn www.google-analytics.com cdn.datatables.net; font-src 'self' 'unsafe-inline' data:; object-src 'none'; img-src 'self' " />
		</customHeaders>
	  </httpProtocol>
    </system.webServer>
 </configuration>
