.left-menu-layer-control-container {
    details {
        summary {
            background-color: black;
        }
    }

    .base-map-header-summary {

        .MuiAccordionSummary-expandIcon {
            position: absolute;
            left: 0px
        }

        .add-button-icon {
            right: 14px;
        }
    }

    .smooth-dnd-container.vertical {
        width: 100%;
        min-height: auto;
        min-width: auto;
    }

    .icon-layer {
        color: green;
    }

    .icon-layers-custom {
        left: 0px;
    }

    input[type=checkbox] {
        cursor: pointer;
    }

    .MuiAccordionSummary-root {
        &.Mui-expanded {
            min-height: 40px;
        }
    }

    .MuiAccordionSummary-content {
        margin: 0;

        &.Mui-expanded {
            margin: 10px 0 0 0;
        }
    }
}

.group-name {
    margin-bottom: 1rem !important;
}

.font-layer-title {
    font-size: 18px;
    font-weight: 600;
}

.font-layer-category {
    font-weight: 600;
    width: 3rem !important;
}

.validate-category {
    color: red !important;
    margin-left: 1rem !important;
    font-size: 0.75rem !important;
    font-weight: 400 !important;
    line-height: 1.66 !important;
}

.popup_category_menu {
    display: flex;
    position: absolute;
    right: 46px;
    background-color: #f1f1f1;
    border-radius: 5px;
    z-index: 10;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.menu_open {
    right: 46px;
    animation-name: open;
    animation-duration: .2s;
}

.menu_close {
    display: none;
    right: -10rem;
    animation-name: close;
    animation-duration: 1s;
}

@keyframes open {
    from {
        right: -10rem;
    }

    to {
        right: 46;
    }
}

@keyframes close {
    from {
        right: 46;
    }

    to {
        right: -10rem;
    }
}